<% posts.forEach(function(p) { %>
    <div class="postFrame">
        <div class="frame"> <!--image-->
            <img src=<%= p.image %> alt="">
        </div>
        <div class="frame"> <!--description-->
            <p class="textBox"><%= p.description %></p>
        </div>
        <div class="frame"> <!-- meta-->
            <p class="textBox">Contributor: <a href="/contributors/<%= p.contributor._id %>"><%= p.contributor.name %></a></p>
            <p class="textBox">Date Taken: <%= p.date %></p> 
            <p class="textBox">Location: <%= p.location %></p>
            <p class="textBox">Camera/Phone: <%= p.camera %></p>
        </div>
        <div class="frame"> <!--feedback-->
            <p class="textBox">
                <form action="/home/<%= p._id %>" method="POST"> <!--goes to temporarily-existing page with a "body" that is only the post-->
                    <label for="eval">Grade</label>
                    <select name="eval">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="commentary">Commentary</label>
                    <textarea name="commentary"></textarea>
                    <button type="submit" class="submit">Submit Feedback</button>
                </form>
            </p>
        </div>
    </div>
<% }); %>