<h2>Place the work of <%= heading %> here</h2>
<% if (user) { %>
    <form action="/contributors/<%= user._id %>/new">
        <button type="submit">New Post</button>
    </form>
<% } %> 
<div class="gallery">
    <% contribPosts.forEach(function(p) { %>
        <div class="profPostFrame">
            <img src=<%= p.image %> class="postImage" alt="">
            <br>
            <% if (user && user._id.toString() === p.contributor.toString()) { %> 
                <form action="/contributors/<%= p.contributor %>/<%= p._id %>?_method=PUT" method="POST">
                    <label for="date">Date Taken</label>
                    <input type="text" name="date" value="<%= p.date %>">
                    <br>
                    <label for="location">Location</label>
                    <input type="text" name="location" value="<%= p.location %>">
                    <label for="camera">Camera/Phone</label>
                    <input type="text" name="camera" value="<%= p.camera %>">
                    <br>
                    <label for="description">Description (add beetle species name, too, if you know it)</label>
                    <input type="text" name="description" value="<%= p.description %>">
                    <button type="submit">Save</button>
                </form>
                <form action="/contributors/<%= p.contributor %>/<%= p._id %>?_method=DELETE" method="POST"> <!--goes to temporarily-existing page with a body that is only the post-->
                    <button type="submit">Remove</button>
                </form>
                <div class="ratingFrame">
                    <!-- dropdown? -->
                    <% p.ratings.forEach(function(r) { %>
                        <div class="indRating">
                            <p><%= r.judge %></p>
                            <p><%= r.eval %></p>
                            <p><%= r.commentary %></p>
                        </div>
                    <% }); %> 
                </div> 
            <% } else { %>
                <p><%= p.description %></p>
                <p>Date Taken:<%= p.date %></p>
                <p>Location: <%= p.location %></p>
                <p>Camera/Phone: <%= p.camera %></p>
            <% } %>
        </div>
    <% }); %> 
</div>

