<% if (user && user._id.toString() === contribId.toString()) { %>
    <form action="/contributors/<%= user._id %>/new">
        <h1 class="banner">
            <button type="submit" class="submit">New Post</button>
        </h1>
    </form>
<% } %> 
<div class="gallery">
    <% contribPosts.forEach(function(p) { %>
        <div class="profPostFrame">
            <img src=<%= p.image %> class="postImage" alt="">
            <br>
            <% if (user && user._id.toString() === p.contributor.toString()) { %> 
                <div class="editFrame">

                </div>
                <form action="/contributors/<%= p.contributor %>/<%= p._id %>?_method=PUT" method="POST">
                    <label for="description"><strong>Description (add genus and species name, too, if you know it)</strong></label>
                    <textarea name="description" placeholder="<%= p.description %>"></textarea>
                    <label for="date"><strong>Date Taken</strong></label>
                    <input type="text" name="date" value="<%= p.date %>">
                    <br>
                    <label for="location"><strong>Location</strong></label>
                    <input type="text" name="location" value="<%= p.location %>">
                    <br>
                    <label for="camera"><strong>Camera/Phone</strong></label>
                    <input type="text" name="camera" value="<%= p.camera %>">
                    <br>
                    <button type="submit" class="submit">Save</button>
                </form>
                <form action="/contributors/<%= p.contributor %>/<%= p._id %>?_method=DELETE" method="POST"> <!--goes to temporarily-existing page with a body that is only the post-->
                    <button type="submit" class="submit">Remove</button>
                </form>
                <div class="ratingFrame">
                    <!-- dropdown? -->
                    <% p.ratings.forEach(function(r) { %>
                        <div class="indRating">
                            <strong><%= r.judge %></strong>
                            <br>
                            <%= r.eval %>
                            <br>
                            <%= r.commentary %>
                        </div>
                    <% }); %> 
                </div> 
            <% } else { %>
                <p><%= p.description %></p>
                <p>Date Taken: <%= p.date %></p>
                <p>Location: <%= p.location %></p>
                <p>Camera/Phone: <%= p.camera %></p>
            <% } %>
        </div>
    <% }); %> 
</div>

