<% if (user && user._id.toString() === contribId.toString()) { %>
    <form action="/contributors/<%= user._id %>/new">
        <button type="submit" class="submit">Create a New Post</button>
    </form>
<% } %> 
<br>
<div class="gallery">
    <% contribPosts.forEach(function(p) { %>
        <div class="postFrame">
            <div class="frame"> <!--image-->
                <img src=<%= p.image %> alt=""> 
            </div>
            <% if (user && user._id.toString() === p.contributor.toString()) { %> 
                <div class="frame"> <!--to edit meta-->
                    <form action="/contributors/<%= p.contributor %>/<%= p._id %>?_method=PUT" method="POST">
                        <label for="description">Description (add genus and species name, too, if you know it): </label>
                        <textarea name="description" placeholder="<%= p.description %>"></textarea>
                        <br>
                        <label for="date">Date Taken: </label>
                        <input type="text" name="date" value="<%= p.date %>">
                        <label for="location">Location: </label>
                        <input type="text" name="location" value="<%= p.location %>">
                        <label for="camera">Camera/Phone: </label>
                        <input type="text" name="camera" value="<%= p.camera %>">
                        <div class="frame">
                            <button type="submit" class="submit">Save</button>
                        </div>
                    </form>
                </div>
                <div class="frame">
                    <form action="/contributors/<%= p.contributor %>/<%= p._id %>?_method=DELETE" method="POST"> <!--goes to temporarily-existing page with a "body" that is only the post-->
                        <button type="submit" class="warning">Remove</button>
                    </form>
                </div>
                <div class="frame"> <!--given feedback-->
                    <% p.ratings.forEach(function(r) { %>
                        <p class="textBox">
                            <strong><%= r.judge %></strong>
                            <br>
                            Grade: <%= r.eval %>
                            <br>
                            "<%= r.commentary %>"
                        </p>
                    <% }); %> 
                </div> 
            <% } else { %>
                <div class="frame"> <!--meta-->
                    <label for="description">Description</label> <p class="textBox"><%= p.description %></p>
                </div>
                <div class="frame">
                    <label for="date-taken">Date Taken</label> <p class="textBox"><%= p.date %></p> 
                    <label for="location">Location</label> <p class="textBox"><%= p.location %></p>
                    <label for="camera/phone">Camera/Phone</label><p class="textBox"><%= p.camera %></p>
                </div>
            <% } %>
        </div>
    <% }); %> 
</div>

