<form action="/contributors/<%= foundPost.contributor %>?_method=PUT" method="POST">
    <!-- <div id="previewFrame">

    </div> -->
    <label for="imageLink">Image Link</label>
    <input type="text" name="image" value=<%= foundPost.image %>>
    <br>
    <label for="date">Date Taken</label>
    <input type="date" name="date" value=<%= foundPost.date.toString() %>>
    <br>
    <label for="location">Location</label>
    <input type="text" name="location" value=<%= foundPost.location %>>
    <br>
    <label for="camera">Camera/Phone</label>
    <input type="text" name="camera" value=<%= foundPost.camera %>>
    <br>
    <label for="description">Description</label>
    <input type="text" name="description" value=<%= foundPost.description %>>
    <br>
    <button type="submit">Save</button>
</form>